/* <style type="text/css">  */
    #gongao{
        width:1000px;height:30px;overflow:hidden;
        line-height:30px;font-size:13px;font-family:'宋体';
        background:#DDE5ED;color:#0C77CF;font-weight:bold;
    } 
    #gongao #scroll_begin, #gongao #scroll_end{display:inline} 
/* </style>  */